.cal-event {
  border-radius: 2px;
  cursor: pointer;
  padding: 2px 4px;
  margin-bottom: 2px;
  font-size: 13px;
  margin-right: 12px;
  color: #fff;
  box-sizing: border-box;
  min-height: 18px; }

.cal-event .cal-event-title {
  font-weight: 500;
  line-height: 15px;
}

.app-calendar-event-pane {
  background: #fff;
  padding: 16px 16px 8px;
  min-width: 448px;
  overflow: auto;
  border-radius: 2px;
  box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}
.daynight-icon {
  height: 12px;
  width: 12px;
  font-size: 12px;
}
.app-calendar-event-pane-close {
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 1;
}

.app-calendar-event-pane .app-calendar-event-pane-content {
  padding: 16px 16px 8px;
}

.app-calendar-event-dialog {
  padding: 16px 16px 8px;
}
.event-checked {
  box-shadow: 0px 0px 10px 3px #1000ff;
}
.priority-circle {
  display: inline-block;
  border-radius: 50%;
  color: red;
  width: 16px;
  height: 16px;
  background: #fff;
  text-align: center;
}
