.file-upload {
  width: 100%;
  text-align: start;
  padding-top: 1rem;
}
.file-upload img {
  width: 200px;
}
.file-upload div label {
  cursor:pointer;
  color: lightsteelblue;
}

.file-upload div input {
  display:none;
}
.rotated-image {
  -moz-transform: rotate(180deg); /* Для Firefox */
  -ms-transform: rotate(180deg); /* Для IE */
  -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(180deg); /* Для Opera */
  transform: rotate(180deg);
}
